  <table border="1" cellspacing="0">
    <tr>
        <td><b>First Name</b></td>
        <td>{{empObj.firstName}}</td>
    </tr>
    <tr>
        <td><b>Last Name</b></td>
        <td>{{empObj.lastName}}</td>
    </tr>
    <tr>
      <td><b>Full Name</b></td>
      <td>{{empFullName}}</td>  
    </tr>
    
  </table>
