<div>
  Enter Employee Name : <input type="text" [(ngModel)] = 'empName' (keyup.enter)="addEmployee();"/>
  <input id="can-fly" type="checkbox" [(ngModel)]="isPermenent"> Is Permenent
</div>

<h2>
<div (click) = 'toggleState()' [@flyInOut]='state' (@flyInOut.start)="animationStarted($event)"
        (@flyInOut.done) ="animationDone($event)">ClickMeToAnimate</div>
</h2>
<h3> 
  Built In Pipe Example : Today date is {{today | date:format}}
</h3>
<div>
  Total Employees : {{emparr.length}}
</div>
<div>
  Custom Pipe Example with parmeterized :
  Total Employee Square : {{emparr.length | power:2}}
</div>

<table border="1" rowspacing = 0 cellspacing = 10>
  <tr>
    <td>Employee List</td>
    <td>Permenent Employee list with pure</td>
    <td>Permenent Employee list with impure</td>
  </tr>
  <tr>
      <td>
          
            <div *ngFor='let empoyee of emparr' [@heroState]="empoyee.state"
        (click)="empoyee.toggleState()">
                <employee [empObj] = "empoyee" (onMergeName) = "onMergeName($event)"></employee>
            </div>
          
      </td>
      <td>
          <div *ngFor='let empoyee of (emparr | permenentEmpPure)'>
              <employee [empObj] = "empoyee" (onMergeName) = "onMergeName($event)"></employee>
          </div>
      </td>
      <td>
        <div *ngFor='let empoyee of (emparr | permenentEmpImpure)'>
              <employee [empObj] = "empoyee" (onMergeName) = "onMergeName($event)"></employee>
          </div>
      </td>
  </tr>
</table>



<br>
<br>
<Button (click) = "onMergeClick()"> Merge Name </Button>
<Button (click) = "onCallChildFromParentClick()"> Call Child From Parent Using Service</Button>

<br>
<br>

<h4>Select color to Highlight</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<div appHighlight [color]='color'>Mouse Hover me to highlight</div>

<h4> JSON Response of Get data </h4>
<div>{{jsonResponse}}</div>

<h4> Non JSON Response of Get data </h4>
<div>{{nonJsonResponse}}</div>
